* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}

.contener {
  height: 100vh;
  width: auto;
  background-color: aqua;
  background-image: url("/assets/istockphoto-1476715640-612x612.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}

.login {
  height: 30rem;
  width: 25rem;

  border-radius: 26px;
  background: transparent;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.29);
}

form {
  /* height:580px;
     width:550px; */
  height: 50vh;
  width: 100%;
  /* border:2px solid black; */
  border-radius: 27px;
}
h1 {
  text-align: center;
  margin: 15% 0% 7% 0%;
  color: white;
}

#email {
  height: 50px;
  width: 95%;
  /* border-radius: 20px; */
  padding: 0% 5%;
  margin: 0% 5% 10% 3%;
  font-size: 0.9rem;
  outline: none;
  background: transparent;
  color: rgb(21, 2, 2);
  border: transparent;
  border-bottom: 2px solid white;
}
#email::placeholder {
  color: white;
  background: transparent;
  font-size: 1rem;
}
#password::placeholder {
  color: white;
  background: transparent;
  font-size: 1rem;
}

#password {
  height: 50px;
  width: 95%;
  /* border-radius: 20px; */
  padding: 0% 5%;
  margin: 0% 5% 12% 3%;
  font-size: 0.9rem;
  outline: none;
  background: transparent;
  color: black;
  border: transparent;
  border-bottom: 2px solid white;
}
.Forgot {
  display: flex;
  justify-content: end;
  margin-bottom: 7%;
}
.button {
  height: 50px;
  width: 99%;
  border-radius: 20px;
  margin-bottom: 5%;

  font-size: 1.6em;
  background-color: white;
  color: black;
  font-weight: 700;
  border: none;
}
.button a {
  color: black;
}
p {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 8%;
}
a {
  text-decoration: none;
  color: rgb(246, 243, 243);
  font-weight: 700;
}
